<?php
/**
 * VagenciesApi
 * PHP version 5
 *
 * @category Class
 * @package  III\Sierra\V5
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2015 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace API;

use \III\Sierra\V5\Configuration;
use \III\Sierra\V5\ApiClient;
use \III\Sierra\V5\ApiException;
use \III\Sierra\V5\ObjectSerializer;

/**
 * VagenciesApi Class Doc Comment
 *
 * @category Class
 * @package  III\Sierra\V5
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class VagenciesApi
{

    /**
     * API Client
     * @var \III\Sierra\V5\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \III\Sierra\V5\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://sandbox.iii.com/iii/sierra-api');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \III\Sierra\V5\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \III\Sierra\V5\ApiClient $apiClient set the API client
     * @return VagenciesApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    
    /**
     * getAListOfAgencies
     *
     * Get a list of agencies
     *
     * @param string $language an ISO 639-1 language code (default is en) (optional)
     * @return \Models\AgencyResultSet
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function getAListOfAgencies($language = null)
    {
        list($response, $statusCode, $httpHeader) = $this->getAListOfAgenciesWithHttpInfo ($language);
        return $response; 
    }


    /**
     * getAListOfAgenciesWithHttpInfo
     *
     * Get a list of agencies
     *
     * @param string $language an ISO 639-1 language code (default is en) (optional)
     * @return Array of \Models\AgencyResultSet, HTTP status code, HTTP response headers (array of strings)
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function getAListOfAgenciesWithHttpInfo($language = null)
    {
        
  
        // parse inputs
        $resourcePath = "/v5/agencies/";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "GET";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'application/xml'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json','application/xml'));
  
        // query params
        
        if ($language !== null) {
            $queryParams['language'] = $this->apiClient->getSerializer()->toQueryValue($language);
        }
        
        
        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams, '\Models\AgencyResultSet'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array($this->apiClient->getSerializer()->deserialize($response, '\Models\AgencyResultSet', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Models\AgencyResultSet', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
}
