<?php
/**
 * VbibsApi
 * PHP version 5
 *
 * @category Class
 * @package  III\Sierra\V5
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2015 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace API;

use \III\Sierra\V5\Configuration;
use \III\Sierra\V5\ApiClient;
use \III\Sierra\V5\ApiException;
use \III\Sierra\V5\ObjectSerializer;

/**
 * VbibsApi Class Doc Comment
 *
 * @category Class
 * @package  III\Sierra\V5
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class VbibsApi
{

    /**
     * API Client
     * @var \III\Sierra\V5\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \III\Sierra\V5\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://sandbox.iii.com/iii/sierra-api');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \III\Sierra\V5\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \III\Sierra\V5\ApiClient $apiClient set the API client
     * @return VbibsApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    
    /**
     * getAListOfBibs
     *
     * Get a list of bibs
     *
     * @param int $limit the maximum number of results (optional)
     * @param int $offset the beginning record (zero-indexed) of the result set returned (optional)
     * @param string[] $id a comma-delimited list of IDs of bibs to retrieve (optional)
     * @param string[] $fields a comma-delimited list of fields to retrieve (optional)
     * @param \DateTime $createdDate the creation date of bibs to retrieve (can be a range) (optional)
     * @param \DateTime $updatedDate the modification date of bibs to retrieve (can be a range) (optional)
     * @param \DateTime $deletedDate the deletion date of deleted bibs to retrieve (can be a range) (optional)
     * @param bool $deleted whether to retrieve only deleted (true) or non-deleted (false) bibs (optional)
     * @param bool $suppressed the suppressed flag value of bibs to retrieve (optional)
     * @param string $locations a comma-delimited list of location codes (can include a single wildcard &#39;*&#39; to represent one or more final characters, for example, mult* or mul*) (optional)
     * @return \Models\BibResultSet
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function getAListOfBibs($limit = null, $offset = null, $id = null, $fields = null, $createdDate = null, $updatedDate = null, $deletedDate = null, $deleted = null, $suppressed = null, $locations = null)
    {
        list($response, $statusCode, $httpHeader) = $this->getAListOfBibsWithHttpInfo ($limit, $offset, $id, $fields, $createdDate, $updatedDate, $deletedDate, $deleted, $suppressed, $locations);
        return $response; 
    }


    /**
     * getAListOfBibsWithHttpInfo
     *
     * Get a list of bibs
     *
     * @param int $limit the maximum number of results (optional)
     * @param int $offset the beginning record (zero-indexed) of the result set returned (optional)
     * @param string[] $id a comma-delimited list of IDs of bibs to retrieve (optional)
     * @param string[] $fields a comma-delimited list of fields to retrieve (optional)
     * @param \DateTime $createdDate the creation date of bibs to retrieve (can be a range) (optional)
     * @param \DateTime $updatedDate the modification date of bibs to retrieve (can be a range) (optional)
     * @param \DateTime $deletedDate the deletion date of deleted bibs to retrieve (can be a range) (optional)
     * @param bool $deleted whether to retrieve only deleted (true) or non-deleted (false) bibs (optional)
     * @param bool $suppressed the suppressed flag value of bibs to retrieve (optional)
     * @param string $locations a comma-delimited list of location codes (can include a single wildcard &#39;*&#39; to represent one or more final characters, for example, mult* or mul*) (optional)
     * @return Array of \Models\BibResultSet, HTTP status code, HTTP response headers (array of strings)
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function getAListOfBibsWithHttpInfo($limit = null, $offset = null, $id = null, $fields = null, $createdDate = null, $updatedDate = null, $deletedDate = null, $deleted = null, $suppressed = null, $locations = null)
    {
        
  
        // parse inputs
        $resourcePath = "/v5/bibs/";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "GET";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'application/xml'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json','application/xml'));
  
        // query params
        
        if ($limit !== null) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($limit);
        }// query params
        
        if ($offset !== null) {
            $queryParams['offset'] = $this->apiClient->getSerializer()->toQueryValue($offset);
        }// query params
        
        if (is_array($id)) {
            $id = $this->apiClient->getSerializer()->serializeCollection($id, 'csv', true);
        }
        
        if ($id !== null) {
            $queryParams['id'] = $this->apiClient->getSerializer()->toQueryValue($id);
        }// query params
        
        if (is_array($fields)) {
            $fields = $this->apiClient->getSerializer()->serializeCollection($fields, 'csv', true);
        }
        
        if ($fields !== null) {
            $queryParams['fields'] = $this->apiClient->getSerializer()->toQueryValue($fields);
        }// query params
        
        if ($createdDate !== null) {
            $queryParams['createdDate'] = $this->apiClient->getSerializer()->toQueryValue($createdDate);
        }// query params
        
        if ($updatedDate !== null) {
            $queryParams['updatedDate'] = $this->apiClient->getSerializer()->toQueryValue($updatedDate);
        }// query params
        
        if ($deletedDate !== null) {
            $queryParams['deletedDate'] = $this->apiClient->getSerializer()->toQueryValue($deletedDate);
        }// query params
        
        if ($deleted !== null) {
            $queryParams['deleted'] = $this->apiClient->getSerializer()->toQueryValue($deleted);
        }// query params
        
        if ($suppressed !== null) {
            $queryParams['suppressed'] = $this->apiClient->getSerializer()->toQueryValue($suppressed);
        }// query params
        
        if ($locations !== null) {
            $queryParams['locations'] = $this->apiClient->getSerializer()->toQueryValue($locations);
        }
        
        
        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams, '\Models\BibResultSet'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array($this->apiClient->getSerializer()->deserialize($response, '\Models\BibResultSet', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Models\BibResultSet', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * generateABinaryMARCDataFileOfBibs
     *
     * Generate a binary MARC data file of bibs
     *
     * @param int $limit the maximum number of results (optional)
     * @param string[] $id a comma-delimited list of IDs of bibs to retrieve (can be a range) (optional)
     * @param string $mapping the suffix of the Innovative-to-MARC mapping file to apply (a blank entry uses the default mapping file) (optional)
     * @return \Models\MarcSummary
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function generateABinaryMARCDataFileOfBibs($limit = null, $id = null, $mapping = null)
    {
        list($response, $statusCode, $httpHeader) = $this->generateABinaryMARCDataFileOfBibsWithHttpInfo ($limit, $id, $mapping);
        return $response; 
    }


    /**
     * generateABinaryMARCDataFileOfBibsWithHttpInfo
     *
     * Generate a binary MARC data file of bibs
     *
     * @param int $limit the maximum number of results (optional)
     * @param string[] $id a comma-delimited list of IDs of bibs to retrieve (can be a range) (optional)
     * @param string $mapping the suffix of the Innovative-to-MARC mapping file to apply (a blank entry uses the default mapping file) (optional)
     * @return Array of \Models\MarcSummary, HTTP status code, HTTP response headers (array of strings)
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function generateABinaryMARCDataFileOfBibsWithHttpInfo($limit = null, $id = null, $mapping = null)
    {
        
  
        // parse inputs
        $resourcePath = "/v5/bibs/marc";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "GET";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'application/xml'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json','application/xml'));
  
        // query params
        
        if ($limit !== null) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($limit);
        }// query params
        
        if (is_array($id)) {
            $id = $this->apiClient->getSerializer()->serializeCollection($id, 'csv', true);
        }
        
        if ($id !== null) {
            $queryParams['id'] = $this->apiClient->getSerializer()->toQueryValue($id);
        }// query params
        
        if ($mapping !== null) {
            $queryParams['mapping'] = $this->apiClient->getSerializer()->toQueryValue($mapping);
        }
        
        
        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams, '\Models\MarcSummary'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array($this->apiClient->getSerializer()->deserialize($response, '\Models\MarcSummary', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Models\MarcSummary', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * getTheGeneratedBinaryMARCDataFile
     *
     * Get the generated binary MARC data file
     *
     * @param int $id the ID of the MARC data file to retrieve (required)
     * @return void
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function getTheGeneratedBinaryMARCDataFile($id)
    {
        list($response, $statusCode, $httpHeader) = $this->getTheGeneratedBinaryMARCDataFileWithHttpInfo ($id);
        return $response; 
    }


    /**
     * getTheGeneratedBinaryMARCDataFileWithHttpInfo
     *
     * Get the generated binary MARC data file
     *
     * @param int $id the ID of the MARC data file to retrieve (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function getTheGeneratedBinaryMARCDataFileWithHttpInfo($id)
    {
        
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getTheGeneratedBinaryMARCDataFile');
        }
  
        // parse inputs
        $resourcePath = "/v5/bibs/marc/files/{id}";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "GET";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'application/xml', 'application/marc-json', 'application/marc-xml', 'application/marc-in-json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json','application/xml'));
  
        
        
        // path params
        
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams
            );
            
            return array(null, $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            }
  
            throw $e;
        }
    }
    
    /**
     * getAListOfMetadata
     *
     * Get a list of metadata
     *
     * @param string $fields list of comma separated metadata fields (optional)
     * @param string $language an ISO 639-1 language code (default is en) (optional)
     * @return \Models\Metadata[]
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function getAListOfMetadata($fields = null, $language = null)
    {
        list($response, $statusCode, $httpHeader) = $this->getAListOfMetadataWithHttpInfo ($fields, $language);
        return $response; 
    }


    /**
     * getAListOfMetadataWithHttpInfo
     *
     * Get a list of metadata
     *
     * @param string $fields list of comma separated metadata fields (optional)
     * @param string $language an ISO 639-1 language code (default is en) (optional)
     * @return Array of \Models\Metadata[], HTTP status code, HTTP response headers (array of strings)
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function getAListOfMetadataWithHttpInfo($fields = null, $language = null)
    {
        
  
        // parse inputs
        $resourcePath = "/v5/bibs/metadata";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "GET";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'application/xml'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json','application/xml'));
  
        // query params
        
        if ($fields !== null) {
            $queryParams['fields'] = $this->apiClient->getSerializer()->toQueryValue($fields);
        }// query params
        
        if ($language !== null) {
            $queryParams['language'] = $this->apiClient->getSerializer()->toQueryValue($language);
        }
        
        
        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams, '\Models\Metadata[]'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array($this->apiClient->getSerializer()->deserialize($response, '\Models\Metadata[]', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Models\Metadata[]', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * filterTheRecordsByAQueryInJSONFormat
     *
     * Filter the records by a query in JSON format
     *
     * @param int $offset the beginning record (zero-indexed) of the result set returned (required)
     * @param int $limit the maximum number of results (required)
     * @param  $json a query in JSON format (see the Sierra API reference documentation for more information) (required)
     * @return \Models\QueryResultSet
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function filterTheRecordsByAQueryInJSONFormat($offset, $limit, $json)
    {
        list($response, $statusCode, $httpHeader) = $this->filterTheRecordsByAQueryInJSONFormatWithHttpInfo ($offset, $limit, $json);
        return $response; 
    }


    /**
     * filterTheRecordsByAQueryInJSONFormatWithHttpInfo
     *
     * Filter the records by a query in JSON format
     *
     * @param int $offset the beginning record (zero-indexed) of the result set returned (required)
     * @param int $limit the maximum number of results (required)
     * @param  $json a query in JSON format (see the Sierra API reference documentation for more information) (required)
     * @return Array of \Models\QueryResultSet, HTTP status code, HTTP response headers (array of strings)
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function filterTheRecordsByAQueryInJSONFormatWithHttpInfo($offset, $limit, $json)
    {
        
        // verify the required parameter 'offset' is set
        if ($offset === null) {
            throw new \InvalidArgumentException('Missing the required parameter $offset when calling filterTheRecordsByAQueryInJSONFormat');
        }
        // verify the required parameter 'limit' is set
        if ($limit === null) {
            throw new \InvalidArgumentException('Missing the required parameter $limit when calling filterTheRecordsByAQueryInJSONFormat');
        }
        // verify the required parameter 'json' is set
        if ($json === null) {
            throw new \InvalidArgumentException('Missing the required parameter $json when calling filterTheRecordsByAQueryInJSONFormat');
        }
  
        // parse inputs
        $resourcePath = "/v5/bibs/query";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "POST";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'application/xml'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json','application/xml'));
  
        // query params
        
        if ($offset !== null) {
            $queryParams['offset'] = $this->apiClient->getSerializer()->toQueryValue($offset);
        }// query params
        
        if ($limit !== null) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($limit);
        }
        
        
        
        // body params
        $_tempBody = null;
        if (isset($json)) {
            $_tempBody = $json;
        }
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams, '\Models\QueryResultSet'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array($this->apiClient->getSerializer()->deserialize($response, '\Models\QueryResultSet', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Models\QueryResultSet', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * findBibInformationUsingAWSSearchByAuthorTitleOrKeyword
     *
     * Find bib information using AWS search by author, title, or keyword
     *
     * @param string $text the text to search for (required)
     * @param int $limit the maximum number of results (optional)
     * @param int $offset the beginning record (zero-indexed) of the result set returned (optional)
     * @param string[] $fields a comma-delimited list of fields to retrieve (optional)
     * @param string $index keyword index to be searched (optional)
     * @return \Models\BibSearchResultSet
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function findBibInformationUsingAWSSearchByAuthorTitleOrKeyword($text, $limit = null, $offset = null, $fields = null, $index = null)
    {
        list($response, $statusCode, $httpHeader) = $this->findBibInformationUsingAWSSearchByAuthorTitleOrKeywordWithHttpInfo ($text, $limit, $offset, $fields, $index);
        return $response; 
    }


    /**
     * findBibInformationUsingAWSSearchByAuthorTitleOrKeywordWithHttpInfo
     *
     * Find bib information using AWS search by author, title, or keyword
     *
     * @param string $text the text to search for (required)
     * @param int $limit the maximum number of results (optional)
     * @param int $offset the beginning record (zero-indexed) of the result set returned (optional)
     * @param string[] $fields a comma-delimited list of fields to retrieve (optional)
     * @param string $index keyword index to be searched (optional)
     * @return Array of \Models\BibSearchResultSet, HTTP status code, HTTP response headers (array of strings)
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function findBibInformationUsingAWSSearchByAuthorTitleOrKeywordWithHttpInfo($text, $limit = null, $offset = null, $fields = null, $index = null)
    {
        
        // verify the required parameter 'text' is set
        if ($text === null) {
            throw new \InvalidArgumentException('Missing the required parameter $text when calling findBibInformationUsingAWSSearchByAuthorTitleOrKeyword');
        }
  
        // parse inputs
        $resourcePath = "/v5/bibs/search";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "GET";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'application/xml'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json','application/xml'));
  
        // query params
        
        if ($limit !== null) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($limit);
        }// query params
        
        if ($offset !== null) {
            $queryParams['offset'] = $this->apiClient->getSerializer()->toQueryValue($offset);
        }// query params
        
        if (is_array($fields)) {
            $fields = $this->apiClient->getSerializer()->serializeCollection($fields, 'csv', true);
        }
        
        if ($fields !== null) {
            $queryParams['fields'] = $this->apiClient->getSerializer()->toQueryValue($fields);
        }// query params
        
        if ($index !== null) {
            $queryParams['index'] = $this->apiClient->getSerializer()->toQueryValue($index);
        }// query params
        
        if ($text !== null) {
            $queryParams['text'] = $this->apiClient->getSerializer()->toQueryValue($text);
        }
        
        
        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams, '\Models\BibSearchResultSet'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array($this->apiClient->getSerializer()->deserialize($response, '\Models\BibSearchResultSet', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Models\BibSearchResultSet', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * getABibByRecordID
     *
     * Get a bib by record ID
     *
     * @param int $id the bib record ID (required)
     * @param string[] $fields a comma-delimited list of fields to retrieve (optional)
     * @return \Models\Bib
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function getABibByRecordID($id, $fields = null)
    {
        list($response, $statusCode, $httpHeader) = $this->getABibByRecordIDWithHttpInfo ($id, $fields);
        return $response; 
    }


    /**
     * getABibByRecordIDWithHttpInfo
     *
     * Get a bib by record ID
     *
     * @param int $id the bib record ID (required)
     * @param string[] $fields a comma-delimited list of fields to retrieve (optional)
     * @return Array of \Models\Bib, HTTP status code, HTTP response headers (array of strings)
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function getABibByRecordIDWithHttpInfo($id, $fields = null)
    {
        
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getABibByRecordID');
        }
  
        // parse inputs
        $resourcePath = "/v5/bibs/{id}";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "GET";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'application/xml'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json','application/xml'));
  
        // query params
        
        if (is_array($fields)) {
            $fields = $this->apiClient->getSerializer()->serializeCollection($fields, 'csv', true);
        }
        
        if ($fields !== null) {
            $queryParams['fields'] = $this->apiClient->getSerializer()->toQueryValue($fields);
        }
        
        // path params
        
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams, '\Models\Bib'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array($this->apiClient->getSerializer()->deserialize($response, '\Models\Bib', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Models\Bib', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * getTheMARCDataForASingleBibRecord
     *
     * Get the MARC data for a single bib record
     *
     * @param int $id the bib record ID (required)
     * @return \Models\ErrorCode
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function getTheMARCDataForASingleBibRecord($id)
    {
        list($response, $statusCode, $httpHeader) = $this->getTheMARCDataForASingleBibRecordWithHttpInfo ($id);
        return $response; 
    }


    /**
     * getTheMARCDataForASingleBibRecordWithHttpInfo
     *
     * Get the MARC data for a single bib record
     *
     * @param int $id the bib record ID (required)
     * @return Array of \Models\ErrorCode, HTTP status code, HTTP response headers (array of strings)
     * @throws \III\Sierra\V5\ApiException on non-2xx response
     */
    public function getTheMARCDataForASingleBibRecordWithHttpInfo($id)
    {
        
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getTheMARCDataForASingleBibRecord');
        }
  
        // parse inputs
        $resourcePath = "/v5/bibs/{id}/marc";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "GET";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/marc-json', 'application/marc-xml', 'application/marc-in-json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json','application/xml'));
  
        
        
        // path params
        
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams, '\Models\ErrorCode'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array($this->apiClient->getSerializer()->deserialize($response, '\Models\ErrorCode', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            default:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Models\ErrorCode', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
}
